.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: rgb(221, 36, 175);
}
.bold{
    font-weight: bold;
}